*

!index.html
!phrasal_verbs.json
!words.json
!README.md
!sentences.json
!.gitignore

!utils
!utils/add images to json.py
!utils/compilar app.txt
!utils/english.drawio
!utils/execute.txt
!utils/extract_all_words.py
!utils/format.py
!utils/tiempos.txt
!utils/update_custom_list.py